
<%- include('partials/header') %>

<div class="Error">
    <h1>
        <% if (typeof err !== "undefined" && err.statusCode) { %>
            <%= err.statusCode %> ! Try again
        <% } else { %>
            Error ! Try again
        <% } %>
    </h1>
    <p>
        <% if (typeof err !== "undefined" && err.message) { %>
            <%= err.message %>
        <% } else if (typeof message !== "undefined" && message) { %>
            <%= message %>
        <% } else { %>
            Something went wrong.
        <% } %>
    </p>
    <a href="/show" class="back-link">Go Home</a>
</div>

    <%- include('partials/footer') %>
   
   